.container {
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  margin: 2rem auto 0;
  text-align: justify;
  text-indent: 1em;
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    text-indent: 0;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 2.5rem;
    text-indent: 0;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 2.5rem;
    text-indent: 0;
  }
  time {
    display: block;
    font-size: 1rem;
    margin-top: 1.5rem;
    font-weight: bold;
  }
  img{
    margin: 1rem 0;
    border-radius: 0.25rem;
    display: inline-block;
  }
}

.postContent {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.125rem;
  p ul {
    margin: 1.5rem 0;
  }
  ul {
    padding-left: 2rem;
    li {
      margin: 0.2rem;
    }
  }
  a {
    color: #319795;
    font-weight: bold;
  }
}
