.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #D53F8C;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #D53F8C;
  border: 2px solid #D53F8C;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #D53F8C;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #D53F8C;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -90px;
}

.container.right .date {
  left: -90px;
}

.icon {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #FFFF;
  border: 2px solid #D53F8C;
  border-radius: 50px;
  text-align: center;
  z-index: 1;
}

.container .content {
  padding: 30px 30px 30px 30px;
  background: rgba(255, 255, 255, 0.01);
  position: relative;
  border-radius: 15px;
  border: 2px solid #00cf;
}

.container.right .content {
  padding: 30px 30px 30px 30px;
}

.tail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 12px;
    padding: 8px;
    padding-bottom: 2px;
    border-bottom: 1px solid #D53F8C;
  }

  strong {
    text-align: center;
    margin: 20px;
    font-size: 1.1rem;
  }
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #D53F8C transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 1px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 30px;
    border-radius: 15px;
  }

  .tail{
    border: 2px dotted #D53F8C;
    border-radius: 15px;
    padding: 15px 0 15px 0;
  }
}